body {
    background: linear-gradient(320deg, #8d3232, #bbaa27, #65817c);
    max-width: auto ;
}
.centralizar {
    max-width: 660px;
    margin: 0 auto;
}

.amarela {
    
    background: linear-gradient(320deg, #eb92eb, #ffef78, #63c9b4);
    padding: 97px;
    margin: 10px;
    box-sizing: border-box;
    border-style: solid;
    
}

.esticar {
    padding-right: 300px;
}

.alongar {
    padding-top: 300px;
}


.flex {
    display: flex;
}
.limite{
    height: 100px;
    max-width: 640px;
}
